/* Mobile and Tablet < 1024px */

@media only screen and (max-width: 63.9375em) {
    .hide-on-mobile-tablet {
        display: none;
    }
    #header {
        margin-bottom: 26px;
        padding-bottom: 4px;
    }
    

    .header__navbar-list-btn{
        display: block;
    }
    .header__navbar-list {
        display: none;
        position: fixed;
        top: 0;
        bottom: 0;
        left: -50%;
        width: 50%;
        margin: 0;
        background-color: var(--white-color);
    }

    .header__navbar-search {
        display: flex;
    }
    .header__navbar-item--has-homestay-list:hover .header__homestay{
        display: none;
    }
    .header__navbar-item--has-villa-list:hover .header__villa{
        display: none;
    }
    .header__navbar-item--has-synthanic-list:hover .header__synthanic{
        display: none;
    }
    .header__navbar-escaped-btn {
        display: block;
    }
    .page-name {
        margin-left: 10px;
    }
    .page-post {
        margin-left: 10px;
    }
    .hot-keyword{
        margin-left: 24px;
    }
    .footer-content {
        text-align: center;
        margin: 26px 0;
    }
    .footer-content__heading {
        margin-left: 0px;
    }
    #top-up {
        font-size: 4rem;
    }
    

}

/* Tablet: width >= 740px and width < 1024px */
@media only screen and (min-width: 46.25em) and (max-width: 63.9375em) {
    .hide-on-tablet {
        display: none;
    }
    .home-product-item__heading {
        padding: 0 8px;
    }
    .header__navbar-item-link {
        font-size: 1.8rem;
        padding: 30px 50px;
        margin: 10px 0;
        display: block;
        width: 100%;
    }
  
    

}

/* Mobile: width < 740px */
@media only screen and (max-width: 46.1875em) {
    .hide-on-mobile {
        display: none;
    }
    .header__logo-img {
        width: 58%;
        object-fit: cover;
    }
    .header__navbar {
        --height-navbar: 48px;
        margin: 0 8px;
    }

    .header__navbar-item-link {
        font-size: 1.4rem;
        padding: 30px 16px;
        margin: 10px 30px 10px 0;
        display: block;
        width: 100%;
    }
    

    .home-product {
        margin-top: 120px;
    }
    .home-product-item{
        padding: 0 8px;
    }
    .pegination-item {
        padding: 0 6px;
    }
    .pegination__icon {
        padding: 0 6px;
    }
    .footer-content__img-payment {
        width: 94%;
    }
    .content__voting {
        margin-left: 0;
        text-align: center;
    }
    .home-product__page-name {
        font-size: 4rem;
    }
}
